<span style="color: red; font-size: large;">Score is {{score}}</span>

<table>
    <tr>
        <th>Qno</th>
        <th>Qestion</th>
        <th>SubmittedAnswer</th>
        <th>CorrectAnswer</th>
    </tr>
    <tr *ngFor="let answer of allAnswer" [style.background]="compare(answer.submittedAnswer,answer.correctAnswer)">
        <td>{{answer.qno}}</td>
        <td>{{answer.qtext}}</td>
        <td>{{answer.submittedAnswer}}</td>
        <td>{{answer.correctAnswer}}</td>
    </tr> 
</table>


